<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2017/01/03145133/twenty20_ec812a3a-48ad-40af-983b-129484cf6086.jpg');">
  <div class="row home-form">
    <div class="col-xs-12 banner-title-left">
      <h1>Welcome To CrowdBook.</h1>
    </div>
    <div class="col-xs-12 searchbar-banner">
      <h3>Search for Campaigns in: </h3>
      <%= form_tag campaigns_path, method: :get, class: "form-inline" do%>
        <!-- <div class="row"> -->
        <div style="padding: 5px 0;">
          <%= text_field_tag :name_query,
            params[:name_query],
            class: "form-control input-banner",
            placeholder: "Location...",
            style: "width: 100%;"
          %>
        </div>
        <div class="selecttwo-box" style="padding: 5px 0;">
          <% collection = Musician.all.collect { |p| [p.name, p.id] } %>
          <% collection.unshift("All musicians") %>
          <h3>with this Artist:</h3>
          <%= select_tag :musician_query, options_for_select(collection, params[:musician_query]), class: "js-selection-search-banner" %>
        </div>
        <div class="selecttwo-box" style="padding: 5px 0;">
          <% collection =  ["All genres", "Industrial & Gothic", "(Heavy) Metal", "Rock 'n' Roll", "Golden Age", "Punk (Rock) / (New) Wave", "Hardcore (Punk)", "Alternative / Indie (Rock)", "Contemporary (Rock)", "Pop (Music)", "Country", "Rhythm 'n' Blues (R&B)", "Gospel & Pioneers", "Blues", "Jazz", "Jamaican (Music) / Reggae", "Rap / Hip-hop Music", "Breakbeat", "Drum 'n' Bass / Jungle", "Hardcore (Techno)", "Techno", "House", "Trance", "Downtempo / Ambient"] %>
          <h3>and this Genre:</h3>
          <%= select_tag :genre_query, options_for_select(collection, params[:genre_query]), class: "js-selection-search-banner" %>
        </div>
        <div style="padding: 5px 0;">
          <%= submit_tag 'Search', class: "btn btn-primary button-banner" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="arrow" id="down-arrows">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
