<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1497911270199-1c552ee64aa4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <div class="flexbox-animation">
      <div class="animation-container flex-item-animation">
        <ul class="animation-list">
          <li class="animation-list-item">Fund</li>
          <li class="animation-list-item">Plan</li>
          <li class="animation-list-item">Create</li>
          <li class="animation-list-item">Promote</li>
        </ul>
      </div>
      <div class="flex-item-text">
         Events
      </div>
    </div>
    <%= form_tag campaigns_path, method: :get, class: "form-inline" do%>
      <div class="row searchbar-banner">
        <div class="col-xs-12 col-sm-3" style="padding: 0; padding-right: 5px;">
          <%= text_field_tag :name_query,
            params[:name_query],
            class: "form-control input-banner",
            placeholder: "Find a space by name",
            style: "width: 100%;"
          %>
        </div>
        <div class="col-xs-12 col-sm-3" style="padding: 0; padding-right: 5px;">
          <% collection = Musician.all.collect { |p| [p.name, p.id] } %>
          <% collection.unshift("All musicians") %>
          <%= select_tag :musician_query, options_for_select(collection, params[:musician_query]), class: "js-selection-search-banner" %>
        </div>
        <div class="col-xs-12 col-sm-4" style="padding: 0; padding-right: 5px;">
          <% collection =  ["All genres", "Industrial & Gothic", "(Heavy) Metal", "Rock 'n' Roll", "Golden Age", "Punk (Rock) / (New) Wave", "Hardcore (Punk)", "Alternative / Indie (Rock)", "Contemporary (Rock)", "Pop (Music)", "Country", "Rhythm 'n' Blues (R&B)", "Gospel & Pioneers", "Blues", "Jazz", "Jamaican (Music) / Reggae", "Rap / Hip-hop Music", "Breakbeat", "Drum 'n' Bass / Jungle", "Hardcore (Techno)", "Techno", "House", "Trance", "Downtempo / Ambient"] %>
          <%= select_tag :genre_query, options_for_select(collection, params[:genre_query]), class: "js-selection-search-banner" %>
        </div>
        <div class="col-xs-12 col-sm-2" style="padding: 0;">
          <%= submit_tag 'Search', class: "btn btn-primary button-banner" %>
        </div>
      </div>
    <% end %>
  </div>
    <div class="arrow" id="down-arrows">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

    <!-- <h1>Fund. Plan. Do.</h1>
    <div class="arrow" id="down-arrows">
      <span></span>
      <span></span>
      <span></span> -->
     <!--  <a href="/spaces", class="btn btn-primary btn-sm button">Explore Spaces Near You!</a> -->
