<div class="col-12 banner_profile" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1497911270199-1c552ee64aa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');">
  <div class="row-profile">
    <div class="col-xs-8 offset-xs-2 col-md-3 offset-md-7">
      <div class="profile-left"></div>
        <p><%#= current_user.profile_picture %></p>
        <p><%= current_user.first_name %><%= current_user.last_name %></p>
        <p><%= current_user.email %></p>
        <p><%= current_user.description %></p>
        <%= link_to "Edit Profile", edit_user_registration_path %>
    </div>
  </div>
</div>
