<div class="container">
  <h2>Create a new Event</h2>
  <%= simple_form_for @event do |f| %>
    <%= f.input :name, as: :string %>
    <%= f.input :address, as: :string %>
    <%= f.input :description, as: :string %>
    <%= f.input :date, as: :string, input_html: {class: "datepicker"} %>
    <%= f.button :submit, class: "btn btn-primary button" %>
    <% end %>
</div>
