<%= render "components/banner_general" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>My Pledges</h1>
      <div class="row">
        <% if @orders.size == 0 %>
          <h3>No Orders Made!</h3>
        <% else %>
          <% @orders.each do |order| %>
            <div class="index-card">
              <div class="row">
                <div class="col-sm-4 card-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path order.ticket_categories.first.campaign.photos.first.image_url, height: 300, width: 400, crop: :fill %>')">
                    <p><small><%= order.ticket_categories.first.campaign.genre.upcase %></small></p>
                </div>
                <div class="col-sm-5 card-right">
                  <div class="card-title">
                    <%= link_to campaign_path(order.ticket_categories.first.campaign) do %>
                      <h3><%= order.ticket_categories.first.campaign.name %></h3>
                    <% end %>
                    <p><i class="far fa-calendar-check"></i> <%= order.ticket_categories.first.campaign.date.to_s.split('-').reverse.join('-') %></p>
                    <p><i class="far fa-compass"></i> <%= order.ticket_categories.first.campaign.address %></p>
                  </div>
                  <div class="card-description">
                    <p style="opacity: 0.6;"><%= order.ticket_categories.first.campaign.description[0..100]%>...</p>
                  </div>
                </div>
                <div class="order-card-right">
                  <p>Pledge Total: <%= humanized_money_with_symbol(order.amount) %></p>
                  <%= link_to "View Order", order_path(order), class: 'btn btn-primary' %>
                  <% if order.ticket_categories.first.campaign.current_funding_amount > order.ticket_categories.first.campaign.funding_goal %>
                    <p style="color: #98FB98">Campaign Complete</p>
                     <div>
                  <% counter = 1 %>
                  <% order.tickets.each do |ticket| %>
                  <div class="ticket-number-vertical" style="margin:5px;">
                  <%= link_to "Ticket #{counter}", ticket_path(ticket.id, :format => :pdf)%>
                  </div>
                  <% counter += 1 %>
                  <% end %>
                  </div>
                  <% else %>
                    <p style="color: #FF0000">Campaign Incomplete</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
