<div class="container container-top">
  <div class="row">
    <div class="col-sm-12">
      <div class="order-success">
        <div class="order-success-title" >
          <i class="far fa-check-circle order-tick"></i>
          <h2><strong>Congratulations! Your Pledge has been a success!</strong></h2>
        </div>
        <div class="order-success-order-info">
          <h3>You contributed <%= humanized_money_with_symbol(@order.amount) %> toward a goal of <%= humanized_money_with_symbol(@order.ticket_categories.first.campaign.funding_goal) %></h3>
          <article>
            <label class="amount">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pledge Type</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price per Pledge</th>
                  </tr>
                </thead>
                <tbody>
                  <% @order.tickets.group_by(&:ticket_category).each do |ticket_category, tickets| %>
                    <tr>
                      <td><%= ticket_category.name %></td>
                      <td><%= tickets.count %></td>
                      <td><%= ticket_category.price %></td>
                    </tr>
                  <% end %>
                </tbody>
                <td>Total Amount: <%= humanized_money_with_symbol(@order.amount) %></td>
              </table>
            </label>
          </article>
        </div>

      </div>
    </div>
  </div>
  <hr>
  <div class="other-campaigns-title">
    <h3><strong>Other Campaigns You Might Be Interested In:</strong></h3>
  </div>
  <%= render "components/campaigns_order_cards" %>
</div>
