<%= render 'components/banner_home' %>
<div class="wrapper-grey">
  <div class="container text-center padded features" id="about-cards" style="">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 info-card-column info-text">
        <p class="info-icon"><i class="fas fa-music"></i></p>
        <h4>Find out about the hottest events near you.</h4>
        <p>Be informed about the coolest events near you, before they even exist.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 info-card-column info-text">
        <p class="info-icon"><i class="fas fa-money-bill-alt"></i></p>
        <h4>Pledge for your favorite events and musicians.</h4>
        <p>Help bring your favorite artists near you by supporting the creators of new events.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 info-card-column info-text">
        <p class="info-icon"><i class="fas fa-people-carry"></i></p>
        <h4>Turn your ideas into magical events.</h4>
        <p>Finally get the funding to build the event of your dreams and make your visions turn into reality.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 info-card-column info-text">
        <p class="info-icon"><i class="fas fa-arrow-right"></i></p>
        <h4>Share the beauty of live music.</h4>
        <p>Listen to your favorite musicians, discover new ones or just dance away with your friends.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container" id="home-cards" style="margin-top: 0;">
    <center><h2 class="header-homecards">A Few Of Our Favourites</h2></center>
      <% @campaigns.each do |campaign| %>
      <%= link_to campaign_path(campaign) do %>
        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card home-card">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%#= cl_image_path campaign.photos.first.image_url, height: 200, width: 400, crop: :fill %>')">
              <h3><%#= campaign.name %></h3>
              <p><small><%#= campaign.genre.upcase %></small></p>
            </div>
            <div class="card-bottom">
              <p><i class="far fa-calendar-check"></i> <%#= campaign.date.to_s.split('-').reverse.join('-') %></p>
              <p><i class="far fa-compass"></i> <%#= campaign.address %></p>
              <p><%#= campaign.description[0..100] %>...</p>
            </div>
          </div>
        </div> -->
        <div class="list-card">
          <div class="list-card-date">
            <p><%= campaign.date.strftime("%b") %></p>
            <h2><%= campaign.date.strftime("%e") %></h2>
          </div>
          <div class="list-card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path campaign.photos.first.image_url, height: 200, width: 400, crop: :fill %>')"></div>
          <div class="list-card-text">
            <h3><%= campaign.name %></h3>
            <h5><%= campaign.genre %> | <%= campaign.address %></h5>
          </div>
          <div class="list-card-status">
            <h4><%= (campaign.current_funding_amount / campaign.funding_goal) * 100 %>%</h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
