<%= render 'components/banner_home' %>
<div class="wrapper-dark-blue">
  <div class="container text-center padded features" id="about-cards" style="">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 info-card-column info-text">
        <p class="info-icon"><i class="fas fa-music"></i></p>
        <h4>Find out about the hottest events near you.</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 info-card-column info-text">
        <p class="info-icon"><i class="fas fa-money-bill-alt"></i></p>
        <h4>Pledge for your favorite events and musicians.</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 info-card-column info-text">
        <p class="info-icon"><i class="fas fa-people-carry"></i></p>
        <h4>Turn your ideas into magical events.</h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 info-card-column info-text">
        <p class="info-icon"><i class="fas fa-arrow-right"></i></p>
        <h4>Share the beauty of live music.</h4>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-light-grey">
  <div class="container" id="home-cards" style="margin-top: 0;">
    <center><h2 class="header-homecards">Upcoming Campaigns</h2></center>
      <% @campaigns.each do |campaign| %>
        <%= link_to campaign_path(campaign), class: "list-card-link" do %>
          <div class="list-card">
            <div class="list-card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path campaign.photos.first.image_url, height: 200, width: 400, crop: :fill %>')">
              <div class="list-card-date">
                <p><%= campaign.date.strftime("%^b") %></p>
                <h3><%= campaign.date.strftime("%e") %></h3>
              </div>
            </div>
            <div class="list-card-text">
              <h4><%= campaign.name %></h4>
              <p><%= campaign.genre %> | <%= campaign.address %></p>
            </div>
            <div class="list-card-status">
              <!-- .progress-circle(data-progress = <%#= (campaign.current_funding_amount / campaign.funding_goal) * 100 %>) -->
              <div class="progress-circle" data-progress="<%= (((campaign.current_funding_amount).to_f / (campaign.funding_goal).to_f) * 100).round %>">
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
