<%= render 'components/banner' %>
<div class="container text-center padded features" id="about-cards" style="margin-top: 0;">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 info-card-column">
      <p class="info-icon"><i class="fas fa-music"></i></p>
      <p class="info-text">Hear Your Favourite Performers!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 info-card-column">
      <p class="info-icon" style="transform: rotate(20deg);"><i class="fas fa-money-bill-alt"></i></p>
      <p class="info-text">Raise Money!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 info-card-column">
      <p class="info-icon"><i class="fas fa-people-carry"></i></p>
      <p class="info-text">Work Together!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 info-card-column explore-card">
      <%= link_to campaigns_path, class: 'info-text' do %>
        <p class="info-icon" style="transform: rotate(20deg);"><i class="fas fa-arrow-right"></i></p>
        <p class="info-text">Explore Now!</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @campaigns.each do |campaign| %>
      <%= link_to campaign_path(campaign) do %>
        <div class="col-sm-4">
          <div class="card home-card">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path campaign.photos.first.image_url, height: 200, width: 400, crop: :fill %>')">
            </div>
            <div class="card-bottom">
              <h3><%= campaign.name %></h3>
              <p><small><%= campaign.date.to_s.split('-').reverse.join('-') %> | <%= campaign.address %></small>
              <p><%= campaign.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
