<div class="searchbar">
  <%= form_tag campaigns_path, method: :get, class: "form-inline" do%>
    <div class="col-xs-12 col-sm-3">
      <%= text_field_tag :name_query,
        params[:name_query],
        class: "form-control input",
        placeholder: "Find a campaign by name",
        style: "width: 100%;"
      %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <% collection = Musician.all.collect { |p| [p.name, p.id] } %>
      <% collection.unshift("All musicians") %>
      <%= select_tag :musician_query, options_for_select(collection, params[:musician_query]), class: "js-genre-selection-search" %></div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <% collection =  ["All genres", "Industrial & Gothic", "(Heavy) Metal", "Rock 'n' Roll", "Golden Age", "Punk (Rock) / (New) Wave", "Hardcore (Punk)", "Alternative / Indie (Rock)", "Contemporary (Rock)", "Pop (Music)", "Country", "Rhythm 'n' Blues (R&B)", "Gospel & Pioneers", "Blues", "Jazz", "Jamaican (Music) / Reggae", "Rap / Hip-hop Music", "Breakbeat", "Drum 'n' Bass / Jungle", "Hardcore (Techno)", "Techno", "House", "Trance", "Downtempo / Ambient"] %>
      <%= select_tag :genre_query, options_for_select(collection, params[:genre_query]), class: "js-genre-selection-search" %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <%= submit_tag 'Search', class: "btn btn-primary button" %>
    </div>
  <% end %>
</div>

<div class="row map-cards-container">
  <div class="col-sm-6">
    <div class="row">
      <% if @campaigns.size == 0 %>
        <h3>No Campaigns Currently Available In That Area!</h3>
      <% else %>
        <% @campaigns.each do |campaign| %>
          <%= link_to campaign_path(campaign) do %>
            <div class="card">
              <div class="row">
                <div class="col-sm-4 card-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path campaign.photos.first.image_url, height: 300, width: 400, crop: :fill %>')"></div>
                <div class="col-sm-8 card-right">
                  <div class="card-title">
                    <h4><%= campaign.name %></h4>
                    <p><small><%= campaign.date.to_s.split('-').reverse.join('-') %> | <%= campaign.address %></small></p>
                  </div>
                  <div class="card-description">
                    <p><%= campaign.description %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

<!-- <div> -->
  <%#= text_field_tag :location_query,
    params[:location_query],
    class: "form-field",
    placeholder: "Find a space by location"
  %>
<!-- </div> -->
<!-- <div> -->
  <%#= text_field_tag :min_price_query,
    params[:min_price_query],
    class: "form-field",
    placeholder: "Select a minimum price"
  %>
<!-- </div> -->
<!-- <div> -->
  <%#= text_field_tag :max_price_query,
    params[:max_price_query],
    class: "form-field",
    placeholder: "Select a maximum price"
  %>
<!-- </div> -->
