<div class="searchbar">
  <div class="container">
    <div class="row">
      <%= form_tag campaigns_path, method: :get, class: "form-inline" do %>
        <div class="col-xs-12 col-sm-2 searchbar-columns">
          <div class="search-box-column">
            <%= text_field_tag :name_query,
              params[:name_query],
              class: "form-control input",
              placeholder: "Name",
              style: "width: 100%;"
            %>
            <span class="fas fa-search search-box-column-icon"></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 searchbar-columns">
          <div class="search-box-column">
            <%= text_field_tag :location_query,
              params[:location_query],
              class: "form-control input",
              placeholder: "Location",
              style: "width: 100%;"
            %>
            <span class="fas fa-map-marker-alt search-box-column-icon"></span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 searchbar-columns">
          <% collection = Musician.all.collect { |p| [p.name, p.id] } %>
          <% collection.unshift("All musicians") %>
          <%= select_tag :musician_query, options_for_select(collection, params[:musician_query]), class: "js-genre-selection-search" %>
        </div>
        <div class="col-xs-12 col-sm-2 searchbar-columns">
          <% collection =  ["All genres", "Pop", "Rock 'n' Roll", "Rap / Hip-hop Music", "Techno", "House", "Alternative / Indie (Rock)", "Trance", "Downtempo / Ambient", "Electronic", "Industrial & Gothic", "(Heavy) Metal", "Golden Age", "Punk (Rock) / (New) Wave", "Hardcore (Punk)", "Contemporary (Rock)", "Country", "Rhythm 'n' Blues (R&B)", "Gospel & Pioneers", "Blues", "Jazz", "Jamaican (Music) / Reggae", "Breakbeat", "Drum 'n' Bass / Jungle", "Hardcore (Techno)"] %>
          <%= select_tag :genre_query, options_for_select(collection, params[:genre_query]), class: "js-genre-selection-search" %>
        </div>
        <div class="col-xs-12 col-sm-2 searchbar-columns">
          <%= submit_tag 'Search', class: "green-button" %>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-2 searchbar-columns">
        <%= link_to "Cards", "#", :id => "toggleCards", :class => "cards-button active-toggle" %><%= link_to "Map", "#", :id => "toggleMap", :class => "map-button js-should-refresh-map" %>
      </div>
    </div>
  </div>
</div>

<div id="campaignCards" class="container container-index index_content active">
  <%= render "components/campaigns_index_cards" %>
</div>
<div id="campaignMap" class="container container-index index_content">
  <div class="map-div"><%= render "components/campaign_map" %></div>
</div>




