<%= render "components/banner_general" %>
<div class="row">
  <div class="searchbar">
    <%= form_tag campaigns_path, method: :get, class: "form-inline" do%>
      <div class="col-xs-12 col-sm-2">
        <%= text_field_tag :name_query,
          params[:name_query],
          class: "form-control input",
          placeholder: "Find a campaign by name",
          style: "width: 100%;"
        %>
      </div>
      <div class="col-xs-12 col-sm-2">
        <%= text_field_tag :location_query,
          params[:location_query],
          class: "form-control input",
          placeholder: "Find a campaign by location",
          style: "width: 100%;"
        %>
      </div>
      <div class="col-xs-12 col-sm-2">
        <% collection = Musician.all.collect { |p| [p.name, p.id] } %>
        <% collection.unshift("All musicians") %>
        <%= select_tag :musician_query, options_for_select(collection, params[:musician_query]), class: "js-genre-selection-search" %></div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <% collection =  ["All genres", "Industrial & Gothic", "(Heavy) Metal", "Rock 'n' Roll", "Golden Age", "Punk (Rock) / (New) Wave", "Hardcore (Punk)", "Alternative / Indie (Rock)", "Contemporary (Rock)", "Pop (Music)", "Country", "Rhythm 'n' Blues (R&B)", "Gospel & Pioneers", "Blues", "Jazz", "Jamaican (Music) / Reggae", "Rap / Hip-hop Music", "Breakbeat", "Drum 'n' Bass / Jungle", "Hardcore (Techno)", "Techno", "House", "Trance", "Downtempo / Ambient"] %>
        <%= select_tag :genre_query, options_for_select(collection, params[:genre_query]), class: "js-genre-selection-search" %>
      </div>
      <div class="col-xs-12 col-sm-2">
        <%= submit_tag 'Search', class: "btn btn-primary button-banner" %>
      </div>
      <div class="col-xs-7 col-sm-2">
        <button id="toggleCards" onclick="toggleMap()">Cards</button>
        <button id="toggleMap">Map</button>
        <div class="view-description">
   <!--        <h5>Card View</h5> -->
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="campaignCards" class="container">
  <%= render "components/campaigns_index_cards" %>
</div>
<div id="campaignMap" class="container">
  <%= render "components/campaign_map" %>
</div>




