<div class="container">
  <%# raise %>
  <%= simple_form_for @campaign do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :date %>
    <%= f.input :url %>
    <%= f.input :is_private %>
    <%= link_to "Add new performance", new_performance_field_path, remote: true, :id => "addPerformanceForm" %>
    <%= f.button :submit, class: "btn btn-primary button" %>
  <% end %>
</div>
