<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="user-info">
        <%= link_to profile_path(@campaign.user_id) do %>
          <p><%= cl_image_tag @campaign.user.profile_picture, height: 60, :style => 'border-radius:50%;' %></p>
          <p><small>By <%= @campaign_creator.first_name %> <%= @campaign_creator.last_name %></small></p>
        <% end %>
      </div>
    </div>
    <div class="col-sm-9">
      <h1 style="margin: 0;"><%= @campaign.name %></h1>
      <h4>
        <%= @campaign.date %> |
        <%= @campaign.address %>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="campaign-photos">
        <%# @campaign.photos.each do |photo| %>
       <!--  change this to .each taking away @campaign.photos and replacing them with photo.image_url  -->
        <%= cl_image_tag @campaign.photos.first.image_url, class: 'img-responsive'%>
      <% #end %>
      </div>
      <div class="campaign-description">
        <%= @campaign.description %>
      </div>
    </div>
    <div class="row responsive">
      <div class="col-sm-12">
        <div class="ticket-category-boxes">
          <h4>Amount Pledged: <%= humanized_money_with_symbol(@campaign.current_funding_amount) %></h4>
          <h5><%= @campaign.tickets.count %> Pledges Made</h5>
          <h5>The Goal is <%= humanized_money_with_symbol(@campaign.funding_goal) %></h5>
        </div>
        <%= simple_form_for :order, url: orders_path do |f| %>
          <%= f.input :campaign_id, as: :hidden, :input_html => { :value => @campaign.id } %>
            <%= simple_fields_for :categories do |c| %>
              <% @campaign.ticket_categories.each do |category| %>
                <div class="col-sm-3 ticket-category-boxes">
                  <h4><%= category.name %> | <%= humanized_money_with_symbol(category.price) %></h4>
                  <p><small><%= category.description %></small></p>
                  <%= c.input "#{category.id}", collection: [1,2,3,4,5], label: "Quantity" %>
                </div>
              <% end %>
              <div style="text-align: center;">
              <%= f.submit 'Purchase', class: 'btn btn-primary' %>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="space" style="height: 500px;">

  </div>
</div>
